#main-body{
    width: 85%;
}
#intro{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#intro #info{
    display: flex;
    
    width: max-content;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
h1{
    font-size: 43px;
    color: #0f172a;
    align-self: center;
    justify-self: center;
}
p{
    color: #000;
   justify-self: left;
   /* align-self: center;*/
   width: 100%;
   text-align: left;
   margin-top: 20px;
   line-height: 30px;
}
#info #contact{
    width: fit-content;
    display: block;
    color: white;
    background-color: #645cff;
    border-radius: 5px;
    font-size:20px;
    padding: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 20px;
    text-decoration: none;
}
#intro #img{
    width: 850px;
    height: 450px;
    background-image: url(../img/about.jpeg);
    background-position: center;
    background-size: cover;
    color: transparent;
    border-radius: 5px;
}
h3{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 200;
}
#recipes{
    width: 100%;
    justify-content: space-evenly;
}
.recipe{
    width: 350px;
    height: 270px;
    display: block;
    border-radius: 10px;
    margin-right: 20px;
}
.recipe img{
    width: 350px;
    height: 170px;
    border-radius: 10px;
}